@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.font-mulish {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.font-mulish-extend {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-mulish-inline {
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.font-mulish-user {
        font-family: "Mulish", sans-serif;
        font-weight: 700;
        font-style: normal;
}
.font-mulish-ket {
        font-family: "Mulish", sans-serif;
        font-weight: 500;
        font-style: normal;
}